@using System.Threading.Tasks
@using System.Web.UI.WebControls
@model Periodicals.ViewModels.DashboardViewModel
<h2>Статистика</h2>
<hr />
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.StartYear, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*<input id="user-name-input" data-name-input="true" asp-for="StartYear" type="text" class="form-control" />*@
            @Html.DropDownListFor(model => model.Month, new SelectList(
                  new List<Object>{
                       new { value = 2015 , text = "2015" },
                       new { value = 2016 , text = "2016" },
                       new { value = 2017 , text = "2017" },                  
                    },
                  "value",
                  "text",
                   2015), new { @class = "form-control", @id = "user-name-input" })
            @Html.ValidationMessageFor(model => model.StartYear, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-md-2">Месяц</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Month, new SelectList(
                  new List<Object>{
                       new { value = 1 , text = "Январь"  },
                       new { value = 2 , text = "Февраль" },
                       new { value = 3 , text = "Март" },
                       new { value = 4 , text = "Апрель"},
                       new { value = 5 , text = "Май" },
                       new { value = 6 , text = "Июнь"},
                       new { value = 7 , text = "Июль"},
                       new { value = 8 , text = "Август" },
                       new { value = 9 , text = "Cентябрь"},
                       new { value = 10 , text = "Октябрь"},
                       new { value = 11 , text = "Ноябрь" },
                       new { value = 12 , text = "Декабрь" },
                    },
                  "value",
                  "text",
                   1), new { @class = "form-control", @id = "start-date-input" })
        </div>
    </div>
    <input data-statistic type="submit" value="Поиск" class="btn btn-default"
           data-url='@Url.Action("GetStatistic", "Statistic")' />
    @{ 
        var month = Model.Month.ToString();
        var year = Model.StartYear.ToString();
     }
     @Html.ActionLink("Oтчет", "GeneratePdf", new { data = year + " " + month }, new { @class = "btn btn-default" })
    </div>

    <div class="row">
        <div data-chartDate></div>
    </div>
    <div class="row">
        <div data-chartStatus class="col-xs-12 col-md-6"></div>
        <div data-chartPriority class="col-xs-12 col-md-6"></div>
    </div>

    <div data-is-statistic-container="true"></div>
    @Html.Partial("~/Views/Shared/SubscribesList.cshtml")


@section scripts {

    <script src="https://www.google.com/jsapi"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"></script>
    <script src="~/Scripts/js/statistic-search.js"></script>
    <script src="~/Scripts/js/dashboard.js"></script>

}
